.bar-graph-container {
  padding: 2.5em;

  .panel-body {
    padding: 0 0 0 10em;
    border-left: 1px solid $green;
    border-bottom: 1px solid $green;

    .may-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .may-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 50%;
      }
    }

    .june-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .june-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 40%;
      }
    }

    .july-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .july-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 30%;
      }
    }

    .august-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .august-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 35%;
      }
    }

    .september-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .september-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 55%;
      }
    }

    .october-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .october-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 70%;
      }
    }

    .november-bar-container {
      float: left;
      position: relative;
      height: 20em;
      width: 4em;
      margin-left: 3em;
      background-color: $green;
      .november-bar {
        position: absolute;
        background-color: $light-green;
        width: 100%;
        height: 60%;
      }
    }

    .month-total {
      position: absolute;
      font-weight: bold;
      padding-left: 1.2em;
      bottom: 0;
    }
    .month-label {
      font-weight: bold;
      text-align: center;
      padding-top: 20.3em;
    }

  }
}