.info-card-container {
  background-color: $light-green;
  padding: .5em 0 3em 0;
  border-bottom: .2em solid $green;
  h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 2em;
  }
  .panel {
    margin: 0em 4em 0em 4em;
  }
  h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}